html, body
  height 100%
  width  100%

#app,.theme-container
    background-color #1D1F21

.theme-container
  position absolute
  left 0
  right 0 
  bottom 0 
  top 0 
  overflow auto

pre
  border-radius: 10px;